.blog-container {
    display: grid;
    overflow: auto !important;
    gap: 60px;
}

.card-img-top {
    width:450px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 25px;
    margin-top: 20px;
    border-radius: 15px;
}

.card-title {
    color: brown;
    font-family: 'Playfair Display SC', serif;
    font-weight: 900;
    font-size: 2em;
    letter-spacing: 1.5px;
}

.flexx {
    display: flex !important;
    border: 2px solid red;
}